.BlockFeaturedHow_37_2289 {
    flex-shrink: 0;
    width: 1119.54px;
    height: 989.339px;
}
.Product_37_2290 {
    flex-shrink: 0;
    width: 410px;
    height: 410px;
}
.Circle_37_3317 {
    flex-shrink: 0;
    width: 928.519px;
    height: 697.848px;
    transform: rotate(-21.476deg);
}
